<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pageTitle}}</title>
</head>
<body>
    {{> header}}
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo ullam at ad fugit nulla mollitia, nobis possimus voluptates iusto nemo et, excepturi pariatur vel adipisci hic expedita beatae! Magnam, numquam.
    </p>
    {{> footer}}
</body>
</html>
